.my-account {
  text-align: center;
  &__hello {
    font-size: 3rem;
    margin: 20px 0 40px;
    &--user {
      font-weight: bold;
      font-style: italic;
      text-transform: uppercase;
    }
  }
  &__wallet {
    font-size: 2rem;
    margin-top: 0px;
  }
  .purchased-products {
    &__title {
      margin-top: 50px;
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
