@import '../../sass/mixins';

.header {
  background-color: #eee;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: auto;
  max-height: 100vh;
  &__logo {
    text-align: center;
  }
  &__main-panel {
    display: flex;
    margin: 20px 0;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__nav-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    &-icon {
      cursor: pointer;
      flex-basis: 15px;
      font-size: 15px;
    }
  }
  &__search-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &-icon {
      flex-basis: 15px;
      font-size: 15px;
    }
  }
  &__panel-element {
    flex-grow: 1;
  }

  .search {
    max-height: 0;
    display: none;
    overflow: hidden;
    text-align: center;
    @include mq(tablet-large) {
      max-height: 50px;
      display: block;
    }
    &--active {
      max-height: 50px;
      width: 100%;
      margin-top: 10px;
      display: block;
    }
    &__input {
      width: 50%;
    }
  }

  &__login {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    @include mq(tablet-large) {
      order: 1;
    }
    &-btn {
      flex-basis: 55px;
      display: inline-block;
      padding: 5px 10px;
      &-container {
        background-color: white;
        border: 1px solid black;
      }
    }
  }
}
